# monogoDB 
/data
.DS_Store
# python
__pycache__/
__pycache__/*
!.__pycache__/*

# environment
.env


# simple test file
test.py

# vscode setting file
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json